body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(to bottom, #040248, #3a34ef);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #ffffff;
    margin: 10px;
}

p {
    margin: 10px;
    padding: 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #040248;
    padding: 10px 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hlogo img {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-links a:hover {
    border: 2px solid;
    border-image: linear-gradient(to top, #ffffff, #ffffff00, #ffffff00) 1;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pesquisa {
    padding: 5px;
    font-size: 16px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 100px; 
}

.listaProgramas {
    background-color: rgb(131, 10, 187);
    padding: 10px;
    border: 10px solid #ed57d7;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px; 
}

.listaProgramas:hover {
    background-color: rgb(194, 61, 172);
}

.programaItem {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

a {
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    border: 2px solid;
    border-image: linear-gradient(to top , #ffffff, #ffffff00, #ffffff00) 1;
}

.footer-container {
    background-color: #040248;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
