
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(to bottom, #040248, #3a34ef);
}

h1, h2, h3 {
    color: #ffffff;
    margin: 10px;
}

p {
    margin: 10px;
    padding: 5px;
}

.container {
    display: flex;
    background-color: #040248;
    height: auto;
    margin: 0 auto;
    padding: 2% 2%;
    border-radius: 10px;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.telaLogin {
  background-color: white;
  color: #333;

  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px 50px;

  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listaProgramas{
    background-color: rgb(131, 10, 187);
    padding: 10px 10px;
    border: 10px solid #ed57d7;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px; 
}

.listaProgramas:hover {
    background-color:  rgb(194, 61, 172);

}

.programaItem {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

a {
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    border: 2px solid;
    border-image: linear-gradient(to top , #ffffff, #ffffff00, #ffffff00) 1;
}
